.title {
    font-size: 32px;
    font-weight: bold;
}

/* Title */
.title {
    display: flex;
    justify-content: space-between;
}

/* Filter */
.filter-search {
    display: flex;
    align-items: center;
    width: 252px;
    height: 38px;
    padding: 0 16px;
    margin-left: 16px;
    border:  1px solid #D5D5D5;
    border-radius: 15px;
    background-color: #FFF;
}

.filter-search-icon {
    color: #7A7B7D;
    font-size: 16px;
}

.filter-search-input {
    height: 100%;
    width: 100%;
    margin-left: 12px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 16px;
}

.filter-search-input:focus {
    outline: none;
}

/* SCROLLBAR */
/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn dọc */
    height: 8px; /* Độ cao của thanh cuộn ngang */
}

/* Phần con lăn của thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #c8c8c8; /* Màu nền của phần con lăn */
    border-radius: 4px; /* Góc bo tròn của phần con lăn */
}

/* Phần nền của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}

/* BOOTSTRAP TABLE */

.bootstrap-table {
    background-color: #fff;
    padding: 8px;
    border-radius: 12px;
}

.bootstrap-table input[type="search"] {
    background-color: #F5F6FA;
    width: 330px;
    height: 40px;
    border-radius: 20px;
    padding: 0 12px;
}

/* MODAL */

.modal-snhcenter .modal-body input,
.modal-snhcenter .modal-body select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    padding: 4px;
    outline: none;
}

.modal-snhcenter .modal-body .tickbox {
    width: auto;
}

.modal-snhcenter .modal-body .form-group {
    margin-top: 8px;
}

/* LOADING */
#pageLoading {
    position: fixed;
    display: none;
    z-index: 10000;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(0 0 0 / 20%);
    color: #4880FF;
    transition: all 0.2s;
}

#pageLoading .spinner-border {
    width: 3rem;
    height: 3rem;
}

/* POPUP DELETE */
#modal-systemModal .dialog-systemModal {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-systemModal .content-systemModal {
    width: fit-content;
    max-width: 50%;
    background-color: #fff;
    border-radius: 8px;
}
