<div>
    <div class="title">
        <h2 class="title-content">
            Shift
        </h2>
    </div>
    <div class="content">
        <div class="content-table">
            <table class="table"
                   id="ShiftTable"
                   data-toggle="table"
                   data-height="460"
                   data-ajax="getDataTable"
                   data-search="true"
                   data-side-pagination="server"
                   data-pagination="true">
                <thead class="content-table-header">
                    <tr>
                        <th data-field="id" data-visible="false">ID</th>
                        <th data-field="name">Name</th>
                        <th data-field="time">Time</th>
                        <th data-field="days">Days</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    function getDataTable(params) {
        var url = '@Url.Action("GetList", "Shift")';
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res)
        })
    }
</script>