<body>
  <div class="body">
    <div class="login-card">
    <div class="login-card-title">
      <h4 class="login-card-title-head">
        Login to Account
      </h4>
      <span class="login-card-title-des">
                Please enter your username and password to continue
            </span>
    </div>
    <form [formGroup]="formView" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <div class="login-card-form">
        <div class="login-card-form-row mb-40">
          <label class="login-card-form-row-title">Username:</label>
          <input pInputText [formControl]="formView.controls.userName" formControlName="userName" placeholder="Username"/>
          <small *ngIf="formView.get('userName')?.invalid && formView.get('userName')?.touched" class="mt-2 form-group-validator">Username is required.</small>
        </div>
        <div class="login-card-form-row mb-40">
          <div class="login-card-form-column">
            <label class="login-card-form-row-title">Password:</label>
          </div>
          <input pInputText [formControl]="formView.controls.password" formControlName="password" type="password" placeholder="Password"/>
          <small *ngIf="formView.get('password')?.invalid && formView.get('password')?.touched" class="mt-2 form-group-validator">Password is required.</small>
        </div>
        <div class="login-card-form-check-password">
          <div class="login-card-form-remember-password">
            <input type="checkbox"/>
            <span>&nbsp;Remember Password</span>
          </div>
          <div class="login-card-form-forget-password">
            <a href="#">Forget Password?</a>
          </div>
        </div>
      </div>
      <div class="login-card-button">
        <button type="submit">Sign in</button>
      </div>
    </form>
  </div>
  </div>
  <p-toast position="bottom-right" />
</body>
